<!DOCTYPE html>
<html>

<head>
    <title>Gingiel-Bordon Basestar</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-resource/angular-resource.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/node_modules/angular-material/angular-material.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!--<script src="/node_modules/angular-socket-io/socket.js"></script>-->
    <script src="/javascripts/ng-app.js"></script>
</head>

<body ng-app="joebApp">

    <div ng-controller="joebController">
        <div layout="column" layout-fill>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span>Gingiel-Bordon Basestar</span>
                    <!-- fill up the space between left and right area -->
                    <span flex></span>
                    <!-- 				<md-button> Right Bar Button </md-button> -->
                </div>
            </md-toolbar>
        </div>
        <md-content layout="row" layout-xs="column" layout-wrap layout-align="space-around" >
            <md-card flex-xs="100" flex="30">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Switches</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="column" layout-align=" end">
                    <md-switch ng-repeat="switch in switches" ng-model="switch.state" ng-change="sendCommand(switch)"> <!--ng-change="switch.$save()">-->
                        {{switch.name}}
                    </md-switch>
                </md-card-content>
            </md-card>
            <md-card flex-xs="100" flex="30" >
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Climate</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="column">
                    <md-list flex>
                        <md-list-item>
                            <p>Temperature</p>
                            <span class="md-secondary">
                                {{hvac.temp.state}}&nbsp;&deg;F
                            </span>
                        </md-list-item>
                        <md-list-item>
                            <p>Humidity</p>
                            <span class="md-secondary">
                                {{hvac.humid.state}}%
                            </span>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <p>Setpoint</p>
                            <md-slider-container class="md-secondary">
                                <md-slider flex min="55" max="85" ng-model="hvac.setpoint.state">
                                </md-slider>
                                <md-input-container>
                                    <input type="number" ng-model="hvac.setpoint.state">
                                </md-input-container>
                            </md-slider-container>
                            <!--<md-slider-container flex layout="row" layout-align="center center">
                                <p>Setpoint</p>
                                <md-slider flex="50" min="55" max="85" ng-model="hvacState.setpoint" aria-label="red" id="red-slider">
                                </md-slider>
                                <md-input-container flex="25">
                                    <input type="number" ng-model="hvacState.setpoint" aria-label="red" aria-controls="red-slider">
                                </md-input-container>
                            </md-slider-container>-->
                        </md-list-item>
                        <md-list-item>
                            <p>Mode<!--: <span class="radioValue">{{ hvacModes[hvac.mode.state] }}</span>--></p>
                            <md-radio-group layout="row" ng-model="hvac.mode.state">
                                <md-radio-button value="0">Off</md-radio-button>
                                <md-radio-button value="1">Heat</md-radio-button>
                                <md-radio-button value="2">AC</md-radio-button>
                            </md-radio-group>
                            <!--<md-radio-group ng-model="hvac.mode.state" ng-model-options="{trackBy: '$value.toString()'}" >
                                <md-radio-button ng-repeat="theMode in hvacModes track by $index" value="{{theMode}}" ng-click="sendCommand(hvac.mode)">
                                    {{theMode}}
                                </md-radio-button>
                            </md-radio-group>-->
                            <!--<md-input-container>
                                <label>Mode</label>
                                <md-select ng-model="hvacState.mode" ng-model-options="{trackBy: '$value.toString()'}" md-on-close="hvacState.$save()">
                                    <md-option ng-repeat="theMode in hvacModes track by $index" value="{{theMode}}">
                                        {{theMode}}
                                    </md-option>
                                </md-select>
                            </md-input-container>-->
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
            <md-card flex-xs="100" flex="30">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Chores</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </md-content>
    </div>
</body>

</html>