<!DOCTYPE html>
<html>

<head>
    <title>Gingiel-Bordon Basestar</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-resource/angular-resource.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/node_modules/angular-material/angular-material.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/ng-app.js"></script>
</head>

<body ng-app="joebApp">
<div ng-controller="joebController">
    <div layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>Gingiel-Bordon Basestar</span>
                <!-- fill up the space between left and right area -->
                <span flex></span>
                <!-- 				<md-button> Right Bar Button </md-button> -->
            </div>
        </md-toolbar>
    </div>
    <md-content layout-xs="column" layout="row" layout-wrap layout-align="space-around" >
        <md-card flex-gt-sm="auto" flex="auto">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Switches</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column">
                <md-list>
                    <md-list-item ng-repeat="switch in cliData.switches" ng-click="toggleSwitch(switch)">
                        <md-icon>lightbulb_outline</md-icon>
                        <p>{{switch.name}}</p>
                        <md-switch class="md-secondary" ng-model="switch.state" ng-change="sendCommand(switch)"></md-switch>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
        <md-card flex-gt-sm="auto" flex="auto" >
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Climate</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column">
                <md-list flex>
                    <md-list-item>
                        <p>Temperature</p>
                            <span class="md-secondary">
                                {{cliData.hvac.temp.state}}&nbsp;&deg;F
                            </span>
                    </md-list-item>
                    <md-list-item>
                        <p>Humidity</p>
                            <span class="md-secondary">
                                {{cliData.hvac.humid.state}}%
                            </span>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <p>Setpoint</p>
                        <md-slider-container>
                            <md-slider min="55" max="85" step="0.5" ng-model="cliData.hvac.setpoint.state" aria-label="red" id="red-slider"></md-slider>
                            <p>{{cliData.hvac.setpoint.state.toPrecision(3)}}&nbsp;&deg;F</p>
                            <!--                                <md-input-container>
                                                                <input md-no-resize="true" type="number" ng-model="cliData.hvac.setpoint.state" aria-label="red" aria-controls="red-slider">
                                                            </md-input-container>-->
                        </md-slider-container>
                    </md-list-item>
                    <md-list-item>
                        <p>Mode</p>
                        <md-radio-group layout="row" ng-model="cliData.hvac.mode.state" ng-change="sendCommand(cliData.hvac.mode)">
                            <md-radio-button ng-value=0>Off</md-radio-button>
                            <md-radio-button ng-value=1>Heat</md-radio-button>
                            <md-radio-button ng-value=2>AC</md-radio-button>
                        </md-radio-group>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
        <md-card flex-gt-sm="auto" flex="auto">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Presence</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column">
                <md-list flex>
                    <md-list-item>
                        <p>Josh</p>
                            <span class="md-secondary">
                                Unknown
                            </span>
                    </md-list-item>
                    <md-list-item>
                        <p>Chelsea</p>
                            <span class="md-secondary">
                                Unknown
                            </span>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
        <md-card flex-gt-sm="auto" flex="auto">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Media</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column">
                <md-list flex>
                    <md-list-item class="md-2-line" ng-click="toggleExpansion()">
                        <md-icon>video_library</md-icon>
                        <div class="md-list-item-text">
                            <h3>Couch Potatoes by Bittman</h3>
                            <p>Inactive</p>
                        </div>
                    </md-list-item>
                    <div ng-show="isExpanded" layout="row" layout-align="center">
                        <md-button class="md-icon-button" aria-label="Custom Icon Button">
                            <md-icon>skip_previous</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Custom Icon Button">
                            <md-icon>play_arrow</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Custom Icon Button">
                            <md-icon>skip_next</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Custom Icon Button">
                            <md-icon>volume_up</md-icon>
                        </md-button>
                    </div>
                    <md-list-item class="md-2-line" ng-click="toggleExpansion()">
                        <md-icon>video_library</md-icon>
                        <div class="md-list-item-text">
                            <h3>Couch Potatoes by Bittman</h3>
                            <p>Inactive</p>
                        </div>
                    </md-list-item>
                    <div ng-show="isExpanded" layout="row" layout-align="center">
                        <md-button class="md-icon-button" aria-label="Custom Icon Button">
                            <md-icon>skip_previous</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Custom Icon Button">
                            <md-icon>play_arrow</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Custom Icon Button">
                            <md-icon>skip_next</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Custom Icon Button">
                            <md-icon>volume_up</md-icon>
                        </md-button>
                    </div>
                    <md-list-item class="md-2-line" ng-click="toggleExpansion()">
                        <md-icon>video_library</md-icon>
                        <div class="md-list-item-text">
                            <h3>Couch Potatoes by Bittman</h3>
                            <p>Inactive</p>
                        </div>
                    </md-list-item>
                    <div ng-show="isExpanded" layout="row" layout-align="center">
                        <md-button class="md-icon-button" aria-label="Custom Icon Button">
                            <md-icon>skip_previous</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Custom Icon Button">
                            <md-icon>play_arrow</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Custom Icon Button">
                            <md-icon>skip_next</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Custom Icon Button">
                            <md-icon>volume_up</md-icon>
                        </md-button>
                    </div>
                </md-list>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Chores</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </md-content>
</div>
</body>

</html>